# Posthog
EXPO_PUBLIC_POSTHOG_EU_API_KEY=""
EXPO_PUBLIC_POSTHOG_URL=""

# Appsflyer
EXPO_PUBLIC_APPSFLYER_APP_ID=""
EXPO_PUBLIC_APPSFLYER_DEV_KEY=""

# RevenueCat
EXPO_PUBLIC_REVENUECAT_API_KEY_IOS=""
EXPO_PUBLIC_REVENUECAT_API_KEY_ANDROID=""

# Superwall
EXPO_PUBLIC_SUPERWALL_API_KEY_IOS=""
EXPO_PUBLIC_SUPERWALL_API_KEY_ANDROID="" 

#Supabase
EXPO_PUBLIC_SUPABASE_URL=""
EXPO_PUBLIC_SUPABASE_PUBLIC_KEY=""