# Backend
EXPO_PUBLIC_BACKEND_URL=""

# Posthog
EXPO_PUBLIC_POSTHOG_EU_API_KEY=""
EXPO_PUBLIC_POSTHOG_URL=""

# Appsflyer
EXPO_PUBLIC_APPSFLYER_APP_ID=""
EXPO_PUBLIC_APPSFLYER_DEV_KEY=""

# RevenueCat
EXPO_PUBLIC_REVENUECAT_API_KEY_IOS=""
EXPO_PUBLIC_REVENUECAT_API_KEY_ANDROID=""

# Superwall
EXPO_PUBLIC_SUPERWALL_API_KEY_IOS=""
EXPO_PUBLIC_SUPERWALL_API_KEY_ANDROID=""

# Facebook / Instagram Stories
EXPO_PUBLIC_FACEBOOK_APP_ID=""
